# Dependencies
node_modules/

# Build output
dist/

# Testing
coverage/

# Environment
.env
.env.*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# IDE
.idea/
.vscode/
